<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}
    {% comment %}
    <link rel="stylesheet" href="https://use.typekit.net/ncl8xac.css">
    <link rel="stylesheet" href="https://use.typekit.net/foz7pdy.css">
    {% endcomment %}
    <link rel="stylesheet" href="https://use.typekit.net/atp1yov.css">

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
          {% if scheme.settings.background_gradient != empty %}
            --gradient-background: {{ scheme.settings.background_gradient }};
          {% else %}
            --gradient-background: {{ scheme.settings.background }};
          {% endif %}
          --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
          --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
          --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
          --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
          --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
          --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
          --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
          --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
          --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
          --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
          --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
        }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground), 0.75);
        background-color: rgb(var(--color-background));
      }

      :root {
        --font-body-family: "proxima-nova-wide", {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: "proxima-nova-wide", {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};
        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
    <style>
      body {
        font-family: "proxima-nova-wide";
      }
      .dflex-whitenoise {
          height: calc(100vh - 150px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          position: relative;
          top: 75px;
      }      
      .contact_info {
          display: flex;
          gap: 20px;
      }      
      .contact_info a {
          color: #414141;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 10px;
          text-decoration: none;
          font-family: "proxima-nova-wide";
          text-transform: uppercase;
          letter-spacing: 2px;
      }
      .banner-whitenoise svg {
          max-width: 80%;
      }      
      .banner-whitenoise {
          text-align: center;
      }
      .contact_info a b {
        font-weight: 500;
      }
      .banner-whitenoise h2 {
        color: #414141;
        margin: 0;
      }
      .logo-whitenoise {
          color: #414141;
          font-size: 28px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 5.6px;
      }

      @media screen and (max-width: 767px) {
        .banner-whitenoise svg {
          max-width: 60%;
          margin: 0 auto;
        }
        .banner-whitenoise {
          text-align: center;
        }
        .logo-whitenoise svg {
          max-width: 70px;
        }
        .contact_info {
          flex-direction: column-reverse;
          text-align: center;
        }
        .banner-whitenoise h2 {
            font-size: 22px;
        }
        .dflex-whitenoise {
            height: calc(95vh - 50px);
            top: 20px;
        }
        body.password main {
          height: 100vh;
          flex-grow: unset;
        }
        .contact_info a {
          font-size: 12px;
          letter-spacing: 1.5px;
        }
        body {
          overflow: hidden;
        }
        .logo-whitenoise {
            color: #414141;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 6.4px;
        }
      }
    </style>
  </head>

  <body class="password gradient">
    {% comment %}
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}
    {% endcomment %}
    <main id="MainContent" class="password-main">
      <div class="dflex-whitenoise">
        <div class="logo-whitenoise">
          COMING SOON
        </div>
        <div class="banner-whitenoise">
          <svg xmlns="http://www.w3.org/2000/svg" width="638" height="474" viewBox="0 0 638 474" fill="none">
          <path d="M504.869 0V384.962C504.869 396.534 495.487 405.917 483.917 405.917C472.347 405.917 462.965 396.534 462.965 384.962V89.038C462.965 47.0972 433.95 11.9017 394.894 2.48827C388.18 0.869395 381.166 0 373.942 0C366.719 0 359.705 0.869395 352.991 2.48827C313.934 11.9017 284.92 47.0972 284.92 89.038V384.962C284.92 396.534 275.538 405.917 263.968 405.917C252.398 405.917 243.016 396.534 243.016 384.962V0H174.945V384.962C174.945 396.534 165.563 405.917 153.993 405.917C142.423 405.917 133.041 396.534 133.041 384.962V0H65V384.962C65 426.933 94.0149 462.098 133.071 471.512C139.785 473.131 146.799 474 154.023 474C161.247 474 168.261 473.131 174.975 471.512C187.564 468.484 199.134 462.758 209.025 454.993C218.887 462.758 230.457 468.484 243.076 471.512C249.79 473.131 256.804 474 264.028 474C271.251 474 278.265 473.131 284.979 471.512C324.036 462.098 353.051 426.903 353.051 384.962V89.038C353.051 77.4661 362.432 68.0826 374.002 68.0826C385.572 68.0826 394.954 77.4661 394.954 89.038V384.962C394.954 426.933 423.969 462.098 463.025 471.512C469.739 473.131 476.753 474 483.977 474C491.201 474 498.215 473.131 504.929 471.512C543.985 462.098 573 426.903 573 384.962V0H504.929H504.869Z" fill="#F7F1E8" fill-opacity="0.7"/>
          <path d="M80.2533 220.559C80.8137 219.107 81.1011 218.03 81.1011 217.354C81.1011 216.679 80.9718 216.119 80.7275 215.702C80.4833 215.271 80.1959 214.883 79.8798 214.538C79.5636 214.193 79.4056 213.604 79.4056 212.799C79.4056 211.995 79.6498 211.305 80.1671 210.73C80.67 210.156 81.5466 209.868 82.7967 209.868C84.0468 209.868 85.0382 210.199 85.5699 210.845C86.1015 211.492 86.1446 212.354 85.7136 213.403L65.3671 264.183L65.4677 264.485H59.1453C58.8723 264.485 58.6136 264.312 58.5131 264.054L44.532 229.094C44.3021 228.519 43.4831 228.519 43.2532 229.094L29.2865 264.183L29.3871 264.485H22.9785C22.6912 264.485 22.4469 264.312 22.3463 264.054L1.05147 210.802C0.864672 210.357 1.19516 209.868 1.6837 209.868H7.08644C7.35946 209.868 7.6181 210.041 7.71868 210.299L27.4329 259.427C27.6628 260.002 28.4819 260.002 28.7118 259.427L42.4773 224.525C42.5347 224.366 42.5347 224.18 42.4773 224.022L37.2038 210.831C37.0314 210.385 37.3619 209.897 37.8361 209.897H43.1382C43.4256 209.897 43.6699 210.069 43.7705 210.328L63.4847 259.456C63.7146 260.03 64.5337 260.03 64.7636 259.456L80.239 220.587L80.2533 220.559Z" fill="#414141"/>
          <path d="M59.3607 263.479H64.5623L84.7794 213.029C85.2105 211.995 84.9088 211.621 84.7794 211.477C84.4489 211.075 83.7736 210.874 82.7821 210.874C81.8482 210.874 81.2016 211.046 80.8998 211.391C80.5549 211.779 80.3969 212.253 80.3969 212.799C80.3969 213.561 80.5549 213.805 80.6124 213.863C80.9716 214.265 81.2878 214.71 81.5751 215.185C81.92 215.774 82.0924 216.492 82.0924 217.354C82.0924 218.159 81.7907 219.337 81.1728 220.918L65.6974 259.786C65.4388 260.433 64.8209 260.849 64.1312 260.849C63.4415 260.849 62.8236 260.433 62.565 259.786L42.9369 210.86H38.3101L43.4111 223.619C43.5692 224.022 43.5692 224.467 43.4111 224.869L29.6456 259.772C29.387 260.418 28.7835 260.835 28.0794 260.835C27.361 260.821 26.7718 260.418 26.5132 259.772L6.87077 210.86H2.15774L23.2083 263.479H28.5105L42.3334 228.72C42.5921 228.074 43.2099 227.657 43.8997 227.657C44.5894 227.657 45.2072 228.074 45.4659 228.72L59.3607 263.479ZM66.8326 265.476H59.1595C58.4698 265.476 57.8519 265.059 57.5933 264.413L43.914 230.186L30.3784 264.212L30.7808 265.476H23.0071C22.3174 265.476 21.6996 265.059 21.4409 264.413L0.117347 211.176C-0.0838191 210.658 -0.0263431 210.069 0.289775 209.609C0.605892 209.15 1.12318 208.862 1.68357 208.862H7.08631C7.77602 208.862 8.39388 209.279 8.65253 209.926L28.065 258.306L41.5 224.251L36.2841 211.176C36.0829 210.658 36.1404 210.069 36.4565 209.595C36.7726 209.121 37.2899 208.862 37.8503 208.862H43.1525C43.8422 208.862 44.46 209.279 44.7187 209.926L64.1456 258.32L79.3192 220.199C79.9946 218.461 80.0951 217.67 80.0951 217.369C80.0951 216.88 80.0089 216.492 79.8509 216.219C79.6353 215.846 79.3911 215.515 79.118 215.213C78.6295 214.667 78.3996 213.891 78.3996 212.814C78.3996 211.736 78.7301 210.845 79.4054 210.084C80.1095 209.279 81.2447 208.877 82.7965 208.877C84.3484 208.877 85.6128 209.336 86.3456 210.227C86.8917 210.888 87.3659 212.038 86.633 213.805L66.4302 264.24L66.8182 265.505L66.8326 265.476Z" fill="#414141"/>
          <path d="M152.098 210.543V263.795C152.098 264.168 151.796 264.484 151.408 264.484H146.092C145.718 264.484 145.402 264.183 145.402 263.795V238.721C145.402 238.347 145.1 238.031 144.712 238.031H107.281C106.908 238.031 106.591 238.333 106.591 238.721V263.795C106.591 264.168 106.29 264.484 105.902 264.484H100.585C100.212 264.484 99.8955 264.183 99.8955 263.795V210.543C99.8955 210.17 100.197 209.854 100.585 209.854H105.902C106.275 209.854 106.591 210.155 106.591 210.543V235.761C106.591 236.134 106.893 236.451 107.281 236.451H144.712C145.086 236.451 145.402 236.149 145.402 235.761V210.543C145.402 210.17 145.704 209.854 146.092 209.854H151.408C151.782 209.854 152.098 210.155 152.098 210.543Z" fill="#414141"/>
          <path d="M100.93 263.479H105.614V238.721C105.614 238.089 105.974 237.528 106.491 237.241C105.974 236.954 105.614 236.393 105.614 235.761V210.86H100.93V263.479ZM146.408 263.479H151.092V210.86H146.408V235.761C146.408 236.393 146.049 236.954 145.531 237.241C146.049 237.528 146.408 238.089 146.408 238.721V263.479ZM151.408 265.476H146.092C145.158 265.476 144.411 264.715 144.411 263.795V239.037H107.612V263.795C107.612 264.729 106.85 265.476 105.916 265.476H100.6C99.6657 265.476 98.9185 264.715 98.9185 263.795V210.543C98.9185 209.609 99.68 208.862 100.6 208.862H105.916C106.85 208.862 107.612 209.624 107.612 210.543V235.445H144.411V210.543C144.411 209.609 145.172 208.862 146.092 208.862H151.408C152.342 208.862 153.09 209.624 153.09 210.543V263.795C153.09 264.729 152.328 265.476 151.408 265.476Z" fill="#414141"/>
          <path d="M171.31 263.795V210.543C171.31 210.17 171.611 209.854 171.999 209.854H177.316C177.689 209.854 178.006 210.155 178.006 210.543V263.795C178.006 264.168 177.704 264.484 177.316 264.484H171.999C171.626 264.484 171.31 264.183 171.31 263.795Z" fill="#414141"/>
          <path d="M172.315 263.479H176.999V210.86H172.315V263.479ZM177.316 265.476H171.999C171.065 265.476 170.318 264.715 170.318 263.795V210.543C170.318 209.609 171.079 208.862 171.999 208.862H177.316C178.25 208.862 178.997 209.624 178.997 210.543V263.795C178.997 264.729 178.235 265.476 177.316 265.476Z" fill="#414141"/>
          <path d="M201.916 211.449C199.904 211.449 198.597 211.564 198.007 211.794C197.404 212.024 197.045 212.383 196.93 212.886C196.484 214.193 195.45 214.84 193.826 214.84C192.935 214.84 192.217 214.653 191.656 214.265C190.967 213.791 190.607 212.914 190.751 212.095C190.866 211.434 191.283 210.917 191.987 210.544C192.835 210.084 194.013 209.868 195.522 209.868H249.104C250.612 209.868 251.791 210.098 252.638 210.544C253.486 211.003 253.917 211.65 253.917 212.498C253.917 213.202 253.63 213.762 253.069 214.193C252.509 214.624 251.747 214.84 250.813 214.84C249.118 214.84 248.083 214.193 247.71 212.886C247.58 212.383 247.221 212.024 246.632 211.794C246.029 211.564 244.764 211.449 242.81 211.449H226.357C225.984 211.449 225.668 211.751 225.668 212.138V263.809C225.668 264.183 225.366 264.499 224.978 264.499H219.661C219.288 264.499 218.972 264.197 218.972 263.809V212.124C218.972 211.751 218.67 211.434 218.282 211.434H201.93L201.916 211.449Z" fill="#414141"/>
          <path d="M195.521 210.86C194.185 210.86 193.165 211.046 192.461 211.42C191.9 211.722 191.771 212.052 191.742 212.268C191.67 212.699 191.871 213.187 192.231 213.432C192.604 213.69 193.15 213.82 193.826 213.82C195.363 213.82 195.78 213.144 195.981 212.541C196.096 212.052 196.498 211.291 197.605 210.845H195.507L195.521 210.86ZM247.005 210.86C248.112 211.291 248.514 212.052 248.658 212.627C248.816 213.173 249.204 213.834 250.799 213.834C251.517 213.834 252.077 213.69 252.451 213.403C252.767 213.159 252.897 212.9 252.897 212.512C252.897 212.182 252.81 211.779 252.149 211.434C251.46 211.061 250.425 210.874 249.089 210.874H246.991L247.005 210.86ZM219.963 263.479H224.647V212.124C224.647 211.621 224.863 211.161 225.222 210.86H219.388C219.733 211.161 219.963 211.621 219.963 212.124V263.479ZM224.963 265.476H219.647C218.713 265.476 217.966 264.715 217.966 263.795V212.44H201.915C199.358 212.44 198.582 212.627 198.366 212.713C197.964 212.871 197.921 213.044 197.906 213.116C197.475 214.394 196.441 215.831 193.826 215.831C192.734 215.831 191.814 215.573 191.096 215.084C190.09 214.394 189.558 213.116 189.774 211.923C189.889 211.248 190.291 210.314 191.527 209.653C192.532 209.121 193.84 208.862 195.536 208.862H249.117C250.813 208.862 252.121 209.121 253.126 209.653C254.621 210.443 254.923 211.636 254.923 212.498C254.923 213.518 254.491 214.38 253.672 214.998C252.94 215.558 251.977 215.846 250.813 215.846C248.083 215.846 247.091 214.38 246.747 213.159C246.718 213.058 246.675 212.871 246.272 212.728C246.057 212.641 245.281 212.455 242.809 212.455H226.673V263.809C226.673 264.743 225.912 265.49 224.992 265.49" fill="#414141"/>
          <path d="M307.484 259.513C308.361 259.513 309.094 259.728 309.697 260.159C310.286 260.59 310.588 261.151 310.588 261.855C310.588 262.918 310.056 263.608 308.993 263.967C307.93 264.326 306.852 264.499 305.789 264.499H267.294C266.921 264.499 266.604 264.197 266.604 263.809V210.543C266.604 210.17 266.906 209.854 267.294 209.854H305.789C307.297 209.854 308.476 210.083 309.324 210.529C310.171 210.989 310.602 211.635 310.602 212.483C310.602 213.187 310.315 213.748 309.755 214.179C309.194 214.61 308.433 214.825 307.499 214.825C305.803 214.825 304.769 214.179 304.395 212.871C304.266 212.368 303.906 212.009 303.317 211.779C302.728 211.549 301.449 211.448 299.509 211.448H274.019C273.645 211.448 273.329 211.75 273.329 212.138V235.775C273.329 236.149 273.631 236.465 274.019 236.465H297.986C298.36 236.465 298.676 236.767 298.676 237.155V237.37C298.676 237.744 298.374 238.06 297.986 238.06H274.019C273.645 238.06 273.329 238.362 273.329 238.75V262.243C273.329 262.616 273.631 262.933 274.019 262.933H299.509C301.449 262.933 302.743 262.76 303.375 262.401C304.007 262.056 304.424 261.668 304.654 261.237C304.869 260.806 305.085 260.418 305.315 260.073C305.53 259.728 306.277 259.541 307.527 259.541" fill="#414141"/>
          <path d="M303.691 210.86C304.798 211.291 305.2 212.052 305.344 212.627C305.502 213.173 305.89 213.834 307.485 213.834C308.203 213.834 308.749 213.69 309.137 213.403C309.453 213.159 309.582 212.9 309.582 212.512C309.582 212.182 309.496 211.779 308.835 211.434C308.145 211.061 307.111 210.874 305.775 210.874H303.677L303.691 210.86ZM267.611 263.479H272.87C272.525 263.163 272.295 262.717 272.295 262.214V238.721C272.295 238.089 272.654 237.528 273.171 237.241C272.654 236.954 272.295 236.393 272.295 235.761V212.124C272.295 211.621 272.525 211.161 272.87 210.86H267.611V263.479ZM303.289 263.479H305.775C306.737 263.479 307.7 263.321 308.663 263.005C309.424 262.76 309.582 262.358 309.582 261.855C309.582 261.482 309.439 261.209 309.108 260.979C308.677 260.677 308.145 260.533 307.485 260.533C306.551 260.533 306.177 260.634 306.062 260.677C305.875 260.979 305.688 261.323 305.502 261.683C305.185 262.286 304.625 262.818 303.835 263.263C303.677 263.35 303.504 263.421 303.303 263.493M305.789 265.49H267.294C266.36 265.49 265.613 264.729 265.613 263.809V210.543C265.613 209.609 266.375 208.862 267.294 208.862H305.789C307.485 208.862 308.792 209.121 309.798 209.653C311.292 210.443 311.594 211.636 311.594 212.498C311.594 213.518 311.163 214.38 310.344 214.998C309.611 215.558 308.648 215.846 307.485 215.846C304.754 215.846 303.763 214.38 303.418 213.159C303.389 213.058 303.346 212.871 302.944 212.728C302.728 212.641 301.952 212.455 299.481 212.455H274.307V235.459H297.958C298.892 235.459 299.639 236.221 299.639 237.14V237.356C299.639 238.29 298.877 239.037 297.958 239.037H274.307V261.898H299.481C301.881 261.898 302.642 261.625 302.858 261.496C303.418 261.18 303.648 260.907 303.734 260.734C303.964 260.289 304.194 259.872 304.438 259.499C304.869 258.795 305.789 258.507 307.499 258.507C308.591 258.507 309.525 258.78 310.286 259.341C311.149 259.958 311.608 260.821 311.608 261.855C311.608 263.35 310.789 264.427 309.324 264.916C308.16 265.304 306.982 265.49 305.803 265.49" fill="#414141"/>
          <path d="M399.863 210.543V263.795C399.863 264.168 399.561 264.484 399.173 264.484H397.794C397.607 264.484 397.435 264.413 397.305 264.269L353.868 219.078C353.437 218.633 352.69 218.935 352.69 219.553V263.795C352.69 264.168 352.388 264.484 352 264.484H350.822C350.448 264.484 350.132 264.183 350.132 263.795V210.543C350.132 210.17 350.434 209.854 350.822 209.854H352.388C352.575 209.854 352.747 209.925 352.876 210.069L396.314 255.116C396.745 255.561 397.492 255.26 397.492 254.642V210.543C397.492 210.17 397.794 209.854 398.182 209.854H399.159C399.532 209.854 399.849 210.155 399.849 210.543" fill="#414141"/>
          <path d="M397.937 263.479H398.871V210.86H398.526V254.642C398.526 255.332 398.11 255.949 397.477 256.208C396.831 256.467 396.112 256.309 395.638 255.82L352.258 210.86H351.137V263.479H351.683V219.553C351.683 218.863 352.1 218.245 352.747 217.987C353.393 217.728 354.112 217.886 354.586 218.375L397.937 263.479ZM399.187 265.476H397.808C397.348 265.476 396.903 265.289 396.587 264.959L353.681 220.329V263.781C353.681 264.715 352.919 265.462 352 265.462H350.821C349.887 265.462 349.14 264.7 349.14 263.781V210.543C349.14 209.609 349.902 208.862 350.821 208.862H352.388C352.847 208.862 353.278 209.049 353.609 209.38L396.515 253.866V210.543C396.515 209.609 397.276 208.862 398.196 208.862H399.173C400.107 208.862 400.854 209.624 400.854 210.543V263.795C400.854 264.729 400.093 265.476 399.173 265.476" fill="#414141"/>
          <path d="M451.289 263.723C455.499 263.723 459.321 263.076 462.784 261.797C466.233 260.518 469.193 258.722 471.636 256.409C474.078 254.095 475.99 251.308 477.34 248.046C478.691 244.784 479.366 241.163 479.366 237.197C479.366 233.232 478.691 229.596 477.34 226.306C475.99 223.015 474.093 220.213 471.636 217.9C469.193 215.586 466.233 213.79 462.784 212.511C459.336 211.233 455.499 210.586 451.289 210.586C447.079 210.586 443.343 211.233 439.895 212.511C436.446 213.79 433.486 215.586 431.043 217.9C428.601 220.213 426.689 223.015 425.339 226.306C423.988 229.596 423.313 233.232 423.313 237.197C423.313 241.163 423.988 244.784 425.339 248.046C426.689 251.308 428.586 254.095 431.043 256.409C433.486 258.722 436.446 260.518 439.895 261.797C443.343 263.076 447.151 263.723 451.289 263.723ZM451.289 209.034C456.563 209.034 461.362 209.71 465.701 211.075C470.041 212.425 473.734 214.336 476.809 216.793C479.883 219.251 482.269 222.225 483.964 225.688C485.66 229.151 486.508 233.002 486.508 237.212C486.508 241.422 485.66 245.258 483.964 248.707C482.269 252.141 479.883 255.101 476.809 257.558C473.734 260.015 470.026 261.926 465.701 263.277C461.376 264.628 456.563 265.318 451.289 265.318C446.016 265.318 441.231 264.642 436.935 263.277C432.638 261.926 428.945 260.015 425.87 257.558C422.795 255.101 420.41 252.141 418.715 248.707C417.019 245.273 416.171 241.436 416.171 237.212C416.171 232.987 417.019 229.151 418.715 225.688C420.41 222.225 422.795 219.265 425.87 216.793C428.945 214.336 432.638 212.425 436.935 211.075C441.231 209.724 446.016 209.034 451.289 209.034Z" fill="#414141"/>
          <path d="M451.289 211.621C447.28 211.621 443.559 212.239 440.24 213.474C436.935 214.696 434.075 216.449 431.733 218.647C429.405 220.846 427.566 223.561 426.273 226.694C424.98 229.841 424.319 233.375 424.319 237.198C424.319 241.02 424.98 244.54 426.273 247.658C427.566 250.776 429.391 253.478 431.733 255.676C434.075 257.889 436.935 259.628 440.24 260.849C443.559 262.085 447.28 262.703 451.289 262.703C455.298 262.703 459.106 262.07 462.425 260.849C465.73 259.613 468.604 257.875 470.932 255.676C473.26 253.478 475.099 250.776 476.392 247.658C477.685 244.526 478.346 241.005 478.346 237.198C478.346 233.39 477.685 229.841 476.392 226.694C475.099 223.547 473.26 220.846 470.932 218.647C468.59 216.434 465.73 214.696 462.425 213.474C459.106 212.239 455.356 211.621 451.289 211.621ZM461.204 210.96C461.865 211.147 462.497 211.362 463.129 211.592C466.693 212.914 469.782 214.796 472.326 217.182C474.869 219.581 476.866 222.527 478.26 225.932C479.654 229.323 480.358 233.117 480.358 237.198C480.358 241.278 479.654 245.057 478.26 248.434C476.866 251.811 474.869 254.742 472.326 257.142C469.797 259.527 466.707 261.409 463.129 262.746C462.497 262.976 461.865 263.191 461.204 263.378C462.655 263.091 464.049 262.731 465.4 262.315C469.595 261.007 473.216 259.139 476.191 256.768C479.136 254.412 481.45 251.552 483.074 248.262C484.697 244.971 485.516 241.264 485.516 237.212C485.516 233.16 484.697 229.438 483.074 226.119C481.45 222.8 479.136 219.926 476.191 217.57C473.231 215.199 469.595 213.331 465.4 212.023C464.049 211.606 462.655 211.247 461.204 210.96ZM441.605 210.917C440.082 211.218 438.63 211.578 437.222 212.023C433.055 213.331 429.448 215.199 426.488 217.57C423.543 219.926 421.229 222.8 419.606 226.119C417.982 229.438 417.163 233.16 417.163 237.212C417.163 241.264 417.982 244.971 419.606 248.262C421.229 251.552 423.543 254.426 426.488 256.768C429.448 259.139 433.069 261.007 437.222 262.315C438.616 262.76 440.082 263.119 441.605 263.421C440.901 263.22 440.211 262.99 439.536 262.746C435.972 261.424 432.883 259.541 430.339 257.142C427.796 254.742 425.799 251.811 424.405 248.434C423.011 245.072 422.307 241.293 422.307 237.198C422.307 233.102 423.011 229.323 424.405 225.932C425.799 222.527 427.796 219.581 430.339 217.182C432.883 214.782 435.972 212.9 439.536 211.592C440.211 211.348 440.901 211.118 441.59 210.917M451.275 266.309C445.915 266.309 440.987 265.605 436.619 264.226C432.222 262.832 428.385 260.849 425.224 258.32C422.048 255.777 419.548 252.687 417.795 249.124C416.042 245.56 415.151 241.551 415.151 237.198C415.151 232.844 416.042 228.82 417.795 225.228C419.548 221.65 422.048 218.532 425.224 216.003C428.385 213.474 432.207 211.491 436.619 210.098C441.001 208.718 445.93 208.014 451.275 208.014C456.62 208.014 461.578 208.718 465.989 210.098C470.414 211.491 474.265 213.474 477.427 216.003C480.602 218.547 483.102 221.65 484.855 225.228C486.608 228.82 487.499 232.844 487.499 237.198C487.499 241.551 486.608 245.575 484.855 249.124C483.102 252.673 480.602 255.777 477.427 258.32C474.265 260.849 470.414 262.832 465.989 264.211C461.578 265.591 456.635 266.295 451.275 266.295" fill="#414141"/>
          <path d="M502.702 263.795V210.543C502.702 210.17 503.003 209.854 503.391 209.854H508.708C509.081 209.854 509.398 210.155 509.398 210.543V263.795C509.398 264.168 509.096 264.484 508.708 264.484H503.391C503.018 264.484 502.702 264.183 502.702 263.795Z" fill="#414141"/>
          <path d="M503.693 263.479H508.377V210.86H503.693V263.479ZM508.693 265.476H503.377C502.443 265.476 501.696 264.715 501.696 263.795V210.543C501.696 209.609 502.457 208.862 503.377 208.862H508.693C509.627 208.862 510.375 209.624 510.375 210.543V263.795C510.375 264.729 509.613 265.476 508.693 265.476Z" fill="#414141"/>
          <path d="M576.716 251.222C576.716 253.234 576.084 255.102 574.834 256.841C573.584 258.579 571.831 260.074 569.604 261.324C567.377 262.574 564.747 263.565 561.744 264.269C558.726 264.973 555.436 265.318 551.858 265.318C548.97 265.318 546.269 265.088 543.754 264.6C541.239 264.126 538.969 263.479 536.929 262.674C534.888 261.87 533.078 260.921 531.512 259.815C529.945 258.708 528.652 257.53 527.646 256.266C526.698 255.059 526.08 253.866 525.764 252.688C525.448 251.51 525.434 250.461 525.721 249.527C526.008 248.593 526.583 247.846 527.46 247.271C528.336 246.696 529.529 246.409 531.037 246.409C532.417 246.409 533.581 246.797 534.515 247.573C535.449 248.348 535.923 249.9 535.923 252.199C535.923 254.312 536.311 256.093 537.101 257.545C537.891 258.996 539.012 260.188 540.492 261.079C541.972 261.985 543.74 262.646 545.809 263.077C547.878 263.508 550.206 263.709 552.778 263.709C558.31 263.709 562.549 262.861 565.537 261.151C568.512 259.441 570.006 257.013 570.006 253.837C570.006 252.286 569.633 250.849 568.871 249.541C568.124 248.233 567.046 247.026 565.667 245.92C564.287 244.814 562.635 243.822 560.724 242.946C558.813 242.069 556.686 241.279 554.373 240.575L542.877 237.112C537.791 235.56 533.94 233.606 531.339 231.278C528.738 228.936 527.431 226.235 527.431 223.174C527.431 221.119 528.006 219.222 529.169 217.484C530.333 215.745 531.928 214.265 533.969 213.001C536.009 211.751 538.437 210.774 541.268 210.069C544.099 209.365 547.203 209.021 550.594 209.021C553.424 209.021 555.939 209.25 558.18 209.696C560.408 210.141 562.405 210.759 564.158 211.535C565.911 212.311 567.448 213.216 568.77 214.251C570.092 215.285 571.184 216.349 572.061 217.455C573.124 218.806 573.857 220.113 574.231 221.378C574.604 222.628 574.69 223.734 574.461 224.697C574.245 225.645 573.685 226.436 572.808 227.025C571.932 227.628 570.796 227.93 569.417 227.93C568.655 227.93 567.923 227.815 567.204 227.585C566.486 227.355 565.868 226.967 565.365 226.421C564.862 225.861 564.474 225.114 564.187 224.165C563.899 223.217 563.799 221.981 563.856 220.473C564.043 217.11 563.181 214.624 561.27 213.015C559.359 211.406 555.824 210.601 550.68 210.601C545.148 210.601 541.01 211.506 538.251 213.317C535.492 215.127 534.112 217.757 534.112 221.234C534.112 224.094 535.147 226.522 537.216 228.505C539.285 230.488 542.777 232.226 547.662 233.735L559.244 237.27C570.854 240.733 576.659 245.388 576.659 251.208" fill="#414141"/>
          <path d="M560.493 211.29C561.054 211.578 561.542 211.894 561.973 212.253C564.129 214.064 565.12 216.851 564.919 220.53C564.862 221.909 564.962 223.03 565.206 223.878C565.451 224.682 565.767 225.315 566.169 225.746C566.557 226.162 567.003 226.45 567.563 226.637C568.181 226.838 568.827 226.924 569.474 226.924C570.638 226.924 571.601 226.68 572.305 226.191C572.98 225.731 573.382 225.157 573.54 224.452C573.713 223.677 573.641 222.728 573.325 221.651C572.98 220.515 572.319 219.323 571.328 218.073C570.494 217.038 569.445 216.018 568.195 215.041C566.945 214.064 565.465 213.202 563.798 212.454C562.792 212.009 561.686 211.621 560.508 211.276M538.768 211.88C537.201 212.44 535.793 213.101 534.543 213.863C532.632 215.041 531.123 216.449 530.046 218.044C528.982 219.625 528.479 221.306 528.479 223.174C528.479 225.961 529.643 228.375 532.057 230.531C534.543 232.758 538.293 234.654 543.222 236.163L554.703 239.626C557.059 240.33 559.229 241.149 561.183 242.04C563.166 242.945 564.89 243.994 566.342 245.144C567.822 246.322 568.971 247.63 569.79 249.038C570.624 250.489 571.055 252.113 571.055 253.837C571.055 257.099 569.632 259.7 566.801 261.568C567.635 261.223 568.411 260.835 569.144 260.418C571.227 259.24 572.88 257.832 574.043 256.222C575.179 254.656 575.739 253.004 575.739 251.193C575.739 245.891 570.121 241.523 559.028 238.218L547.432 234.669C542.331 233.103 538.782 231.307 536.583 229.194C534.313 227.025 533.164 224.338 533.164 221.205C533.164 217.397 534.715 214.452 537.762 212.454C538.078 212.239 538.423 212.052 538.768 211.865M531.051 247.371C529.744 247.371 528.738 247.601 528.02 248.075C527.33 248.521 526.899 249.081 526.683 249.785C526.453 250.532 526.482 251.409 526.741 252.4C527.014 253.449 527.588 254.527 528.451 255.619C529.385 256.783 530.62 257.918 532.1 258.952C533.595 260.001 535.348 260.935 537.302 261.697C539.155 262.43 541.268 263.033 543.552 263.493C542.23 263.076 541.038 262.545 539.989 261.912C538.365 260.921 537.101 259.599 536.239 257.99C535.376 256.395 534.945 254.441 534.945 252.17C534.945 250.216 534.586 248.88 533.896 248.305C533.135 247.673 532.201 247.371 531.051 247.371ZM551.858 266.281C548.912 266.281 546.124 266.036 543.567 265.548C540.995 265.059 538.638 264.398 536.555 263.579C534.442 262.746 532.56 261.754 530.922 260.605C529.284 259.455 527.919 258.191 526.856 256.869C525.821 255.547 525.131 254.225 524.787 252.917C524.427 251.567 524.413 250.317 524.743 249.21C525.088 248.061 525.821 247.112 526.899 246.408C527.948 245.719 529.327 245.374 531.023 245.374C532.718 245.374 534.026 245.848 535.147 246.768C536.339 247.759 536.928 249.526 536.928 252.17C536.928 254.11 537.288 255.748 537.992 257.041C538.681 258.335 539.701 259.398 541.023 260.203C542.388 261.036 544.07 261.668 546.024 262.071C548.021 262.487 550.291 262.688 552.792 262.688C558.123 262.688 562.246 261.869 565.048 260.26C567.721 258.737 569.014 256.625 569.014 253.823C569.014 252.429 568.684 251.193 568.023 250.029C567.333 248.837 566.342 247.716 565.063 246.696C563.755 245.647 562.16 244.698 560.321 243.851C558.453 242.988 556.355 242.213 554.085 241.523L542.604 238.06C537.402 236.465 533.394 234.439 530.692 232.011C527.876 229.482 526.453 226.507 526.453 223.174C526.453 220.918 527.1 218.82 528.364 216.923C529.6 215.084 531.324 213.475 533.48 212.153C535.592 210.845 538.15 209.825 541.067 209.092C543.955 208.374 547.173 208 550.636 208C553.51 208 556.14 208.23 558.41 208.704C560.695 209.164 562.778 209.81 564.589 210.615C566.413 211.42 568.037 212.383 569.417 213.46C570.782 214.524 571.946 215.659 572.88 216.823C574.029 218.274 574.805 219.711 575.222 221.076C575.653 222.498 575.725 223.777 575.466 224.898C575.193 226.105 574.503 227.096 573.411 227.829C572.362 228.548 571.04 228.907 569.46 228.907C568.612 228.907 567.764 228.778 566.945 228.519C566.054 228.232 565.293 227.757 564.66 227.068C564.057 226.407 563.597 225.516 563.267 224.424C562.951 223.375 562.836 222.01 562.893 220.4C563.065 217.325 562.333 215.156 560.666 213.748C558.942 212.311 555.594 211.578 550.723 211.578C545.42 211.578 541.426 212.44 538.839 214.121C536.354 215.745 535.147 218.058 535.147 221.191C535.147 223.792 536.066 225.933 537.949 227.743C539.888 229.611 543.279 231.292 548.007 232.743L559.588 236.278C571.615 239.87 577.722 244.885 577.722 251.179C577.722 253.392 577.018 255.475 575.653 257.386C574.316 259.225 572.448 260.835 570.106 262.157C567.807 263.45 565.063 264.47 561.973 265.203C558.898 265.921 555.507 266.281 551.858 266.281Z" fill="#414141"/>
          <path d="M633.876 259.513C634.752 259.513 635.485 259.728 636.089 260.159C636.678 260.59 636.98 261.151 636.98 261.855C636.98 262.918 636.448 263.608 635.385 263.967C634.321 264.326 633.244 264.499 632.18 264.499H593.686C593.312 264.499 592.996 264.197 592.996 263.809V210.543C592.996 210.17 593.298 209.854 593.686 209.854H632.18C633.689 209.854 634.867 210.083 635.715 210.529C636.563 210.989 636.994 211.635 636.994 212.483C636.994 213.187 636.707 213.748 636.146 214.179C635.586 214.61 634.824 214.825 633.89 214.825C632.195 214.825 631.16 214.179 630.787 212.871C630.657 212.368 630.298 212.009 629.709 211.779C629.105 211.549 627.841 211.448 625.887 211.448H600.396C600.023 211.448 599.706 211.75 599.706 212.138V235.775C599.706 236.149 600.008 236.465 600.396 236.465H624.364C624.737 236.465 625.053 236.767 625.053 237.155V237.37C625.053 237.744 624.752 238.06 624.364 238.06H600.396C600.023 238.06 599.706 238.362 599.706 238.75V262.243C599.706 262.616 600.008 262.933 600.396 262.933H625.887C627.827 262.933 629.12 262.76 629.752 262.401C630.384 262.056 630.801 261.668 631.031 261.237C631.246 260.806 631.462 260.418 631.692 260.073C631.907 259.728 632.655 259.541 633.905 259.541" fill="#414141"/>
          <path d="M630.083 210.86C631.189 211.291 631.591 212.052 631.735 212.627C631.893 213.173 632.281 213.834 633.876 213.834C634.595 213.834 635.141 213.69 635.529 213.403C635.845 213.159 635.974 212.9 635.974 212.512C635.974 212.182 635.888 211.779 635.227 211.434C634.537 211.061 633.503 210.874 632.166 210.874H630.068L630.083 210.86ZM594.002 263.479H599.261C598.916 263.163 598.686 262.717 598.686 262.214V238.721C598.686 238.089 599.046 237.528 599.563 237.241C599.046 236.954 598.686 236.393 598.686 235.761V212.124C598.686 211.621 598.916 211.161 599.261 210.86H594.002V263.479ZM629.68 263.479H632.166C633.129 263.479 634.092 263.321 635.054 263.005C635.816 262.76 635.974 262.358 635.974 261.855C635.974 261.482 635.83 261.209 635.5 260.979C635.069 260.677 634.537 260.533 633.876 260.533C632.942 260.533 632.569 260.634 632.454 260.677C632.267 260.979 632.08 261.323 631.893 261.683C631.577 262.286 631.017 262.818 630.226 263.263C630.068 263.35 629.896 263.421 629.695 263.493M632.181 265.49H593.686C592.752 265.49 592.005 264.729 592.005 263.809V210.543C592.005 209.609 592.766 208.862 593.686 208.862H632.181C633.876 208.862 635.184 209.121 636.19 209.653C637.684 210.443 637.986 211.636 637.986 212.498C637.986 213.518 637.555 214.38 636.736 214.998C636.003 215.558 635.04 215.846 633.876 215.846C631.146 215.846 630.155 214.38 629.81 213.159C629.781 213.058 629.738 212.871 629.336 212.728C629.12 212.641 628.344 212.455 625.873 212.455H600.698V235.459H624.349C625.283 235.459 626.031 236.221 626.031 237.14V237.356C626.031 238.29 625.269 239.037 624.349 239.037H600.698V261.898H625.873C628.272 261.898 629.034 261.625 629.249 261.496C629.81 261.18 630.04 260.907 630.126 260.734C630.356 260.289 630.586 259.872 630.83 259.499C631.261 258.795 632.181 258.507 633.89 258.507C634.983 258.507 635.917 258.78 636.678 259.341C637.54 259.958 638 260.821 638 261.855C638 263.35 637.181 264.427 635.715 264.916C634.551 265.304 633.373 265.49 632.195 265.49" fill="#414141"/>
          </svg>
        </div>
        <div class="footer-whitenoise">
          <div class="contact_info">
            <a href="mailto:info@whitenoisethelabel.com">info@whitenoisethelabel.com</a>
            <a href="tel:+97143214342"><b>Tel:</b> 971 432 14342</a>
          </div>
        </div>        
      </div>
      {{ content_for_layout }}
    </main>
    {% comment %}
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    {% endcomment %}
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
